*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.row{
    position: relative;
    display: flex;
    border: 1px solid;
    padding: 20px;
    border-radius: 8px;
    overflow: hidden;
    white-space: nowrap;
}

.row::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%); 
    height: 100%;
    width: 1px;
    background-color: rgb(0, 0, 0);
}

.parent-img {
    width: 100%;
    display: flex;
    gap: 10px;
    transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.parent-img > .element{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-style: italic;
    color: #fff;
    width: 100px;
    height: 100px;
    background: #000;
}


button{
    padding: 15px;
    margin-top: 25px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    letter-spacing: 2px;
}

#click-btn{
    background: linear-gradient(#ffefad, #cba83e);
    box-shadow: -4px 6px 5px #ffefad;
}

#add-btn{
    background: linear-gradient(#adfffa, #3ecbb3);
    box-shadow: 0px 5px 5px #adfffabd;
}

#remove-btn, .remove-btn_two{
    background: linear-gradient(#fab1a4, #cb5c3e);
    box-shadow: 3px 7px 5px #fab1a4;
}

.remove-btn_two{
    background: transparent;
    border: 1px solid;
    backdrop-filter: blur(1px);
    /* background: linear-gradient(#a4e6fa, #cb5c3e); */
    /* box-shadow: 3px 7px 5px #a1a1a1aa;    */
}
button:disabled{
    background: rgba(0, 0, 0, 0.508) !important;
    box-shadow: 4px 5px 5px #73737380 !important;
    cursor: not-allowed;
}

.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background: #00000066;
    z-index: 1;
}

.modal-win{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    max-width: 230px;
    width: 100%;
    background: rgb(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    box-shadow: 4px 2px 17px #000;
}


.modal-win > .element{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-style: italic;
    color: #fff;
}

.modal-win > .remove-btn_two{
    width: 100%;
    box-shadow: none;
}

.modal-win >.winer{
    box-shadow: 5px 4px 19px #bdcb3e;
}
