:root{
    --color-w: #fff;
    --bg-linear-grad: linear-gradient(135deg, #8bff00, #0923ee);
    --color-g:#2ecc71;
    --color-r: #e74c3c;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--bg-linear-grad);
}

/* Стилі форми */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    gap: 15px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 7px 8px 10px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    letter-spacing: 1px;
}

/* Заголовки */
label {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--color-w);
    gap: 5px;
    font-size: 14px;
    font-weight: 600;
}

::placeholder{
    color: var(--color-w);#
}

/* Інпут */
input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 14px;
    transition: 0.3s;
    outline: none;
    letter-spacing: 1px;
}

/* Інпут при фокусі */
input:focus {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
}

.green {
    border: 2px solid var(--color-g);
}

.red {
    border: 2px solid var(--color-r);
}

/* Стилі для кнопки */
#btn-submit {
    padding: 12px;
    border: none;
    cursor: pointer;
    background: var(--bg-linear-grad);
    border-radius: 8px;
    color: var(--color-w);
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
    letter-spacing: 1px;
}

/* Eфект для кнопки */
#btn-submit:hover {
    transform: scale(1.05);
}

/* Вимкнена кнопка */
#btn-submit:disabled {
    background: linear-gradient(to top, #555555, #d4d4d4);
    cursor: not-allowed;
    box-shadow: none;
}

